---
import { HOMEPAGE_URL } from '../config'
---

<footer class="text-zinc-500 p-4 text-center">
  <a href="https://uncopyright.thuanowa.com/" target="_blank" rel="noopener"
    >Uncopyright</a
  > -
  <a href={HOMEPAGE_URL} target="_blank" rel="noopener">My website</a>
  - Thanks to <a href="https://www.craftz.dog/" target="_blank" rel="noopener"
    >Takuya Matsuyama</a
  >
</footer>
